.back_to_logingui{
    background-color: #f0f0f0;
    padding: 0.8rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 14px;
    cursor: pointer;
    color: #165ef0;
    transition: all 0.2s;
    font-weight: 500;
}
.back_to_logingui svg{
    font-size: 1.2rem;
}

.back_to_logingui:hover{
    background-color: #988f8f ;
}