.ui_button{
   width: 100%;
   padding: 0.6rem;
   outline: none;
   border: none;
   border-radius: 4px;
   background-color: #165ef0;
   cursor: pointer;
   color: white;
   transition: all 0.2s;
}
.ui_button:hover{
    background-color: blue;
}
.ui_button:focus{
    background-color: blue;
}